<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <!--<linkManager>
      <providers>
        <add name="localizedProvider">
          <patch:attribute name="useDisplayName">false</patch:attribute>
          <patch:attribute name="languageEmbedding">never</patch:attribute>
          <patch:attribute name="alwaysIncludeServerUrl">false</patch:attribute>
        </add>
      </providers>
    </linkManager>-->
    <links>      
      <itemUrlBuilder type="Sitecore.XA.Foundation.Multisite.UrlBuilders.ItemUrlBuilder, Sitecore.XA.Foundation.Multisite">
        <patch:delete />
      </itemUrlBuilder>
      <itemUrlBuilder type="XmCloudSXAStarter.LinkBuilder.MeccaItemUrlBuilder, XmCloudSXAStarter">
        <param desc="defaultOptions" type="Sitecore.Links.UrlBuilders.DefaultItemUrlBuilderOptions, Sitecore.Kernel">
          <alwaysIncludeServerUrl>false</alwaysIncludeServerUrl>
          <alwaysExcludeVirtualFolder>false</alwaysExcludeVirtualFolder>
          <languageEmbedding>always</languageEmbedding>
          <languageLocation>filePath</languageLocation>
          <lowercaseUrls>true</lowercaseUrls>
          <encodeNames>true</encodeNames>
          <useDisplayName>false</useDisplayName>
          <addAspxExtension>false</addAspxExtension>
          <siteResolving>true</siteResolving>
          <shortenUrls>true</shortenUrls>
        </param>
      </itemUrlBuilder>
    </links>
  </sitecore>
</configuration>
