<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <linkManager>
      <providers>
        <add name="localizedProvider">
          <patch:attribute name="useDisplayName">false</patch:attribute>
        </add>
      </providers>
    </linkManager>
    <links>
      <urlBuilder>
        <useDisplayName>false</useDisplayName>
      </urlBuilder>
      <itemUrlBuilder type="XmCloudSXAStarter.LinkBuilder.LanguageCountryLinkBuilder, XmCloudSXAStarter">
        <param desc="defaultOptions" type="Sitecore.Links.UrlBuilders.DefaultItemUrlBuilderOptions, Sitecore.Kernel">
          <alwaysIncludeServerUrl ref="links/urlBuilder/alwaysIncludeServerUrl" />
          <languageEmbedding ref="links/urlBuilder/languageEmbedding" />
          <languageLocation ref="links/urlBuilder/languageLocation" />
          <lowercaseUrls ref="links/urlBuilder/lowercaseUrls" />
          <encodeNames ref="links/urlBuilder/encodeNames" />
          <useDisplayName ref="links/urlBuilder/useDisplayName" />
          <addAspxExtension>false</addAspxExtension>
          <siteResolving>true</siteResolving>
          <shortenUrls>true</shortenUrls>
        </param>
      </itemUrlBuilder>
    </links>

  </sitecore>
</configuration>
