<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <api>
      <GraphQL>
        <defaults>
          <content>
            <standardFieldsResolver type="Sitecore.Services.GraphQL.EdgeSchema.StandardFields.StandardFieldsResolver, Sitecore.Services.GraphQL.EdgeSchema">
              <supportedStandardFields hint="raw:AddSupportedStandardField">
                <field name="__Created" />
                <field name="__Updated" />
                <field name="__Sortorder" />
                <field name="__Semantics" />
                <field name="__Publish" />
                <field name="__Unpublish" />
              </supportedStandardFields>
            </standardFieldsResolver>
          </content>
        </defaults>
      </GraphQL>
    </api>
  </sitecore>
</configuration>